body{
    height:100vh;
    background:black;
    margin: 0;
    padding:0;
    overflow:hidden;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size:3rem;
}
.three{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 0;
}
.input{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    float:left;
    z-index:-1;
}
.inputbg{
    width:30rem;
    height:40rem;
    border:white 0px solid;
    background-color: rgba(0,0,0,.1);
}
.regBtn{
    width:12rem;
    height:3rem;
    border-radius: 25px;
    font-size:large;
    font-weight: 550;
    border:none;
    z-index:2;
    box-shadow:white 0px 0px 10px;
    color:white;
    background-color:#6BBE5C;
}
.regBtn:hover{
    background-color: #70C361;
    animation: glow 5s infinite;
}
@keyframes glow{
    50%{
        box-shadow:white 0px 0px 30px;
    }
    to{
        box-shadow:white 0px 0px 10px;
    }
}

.title{
    width:fit-content;
    height:fit-content;
    margin:1rem auto;
    color:white;
    text-align: left;
}
.newTitle{
    color: white;
    font-weight: 550;
}
.container{
    max-width: 1650px;
}
.viewport{
    height: 100vh;
}
.bold{
    font-size: 1.2rem;
}